.hero{
    display:flex;
    gap: 24px;
    margin-bottom: 24px;
    margin-top: 20px;
    justify-content: space-between;
    width: 100%;
    align-items: stretch;
}
.started{
    flex: 1;
    background-color: #f8f8f8;
    border-radius: 30px;
    height: 530px;
    width: 100%;
}
.title{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 48px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: #121417;
    padding-top: 60px;
    padding-left: 64px;
    width: 548px;
    height: 112px;
    margin: 0;
}
.subtitle{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 138%;
    letter-spacing: -0.02em;
    color: #121417;
    padding-left: 64px; 
    padding-top: 32px;
    margin: 0;
    max-width: 471px;
}   
.getStartedButton{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    color: #121417;
    background-color: #F4C550;
    border: none;
    width: 267px;
    height: 60px;
    margin: 64px 0 0 64px;
}    
.highlight{
    font-style: italic;
    font-weight: 400;
    background-color: #FBE9BA;
}