.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 20px 64px;
}

.title{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #121417;
    display: flex;
    align-items: center;
    gap: 8px;
}
.links{
    display: flex;
    gap: 28px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.subtitle{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #121417;
}
.logButton{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #121417;
    background-color: #fff;
    align-items: center;
    display: flex;
    gap: 8px;
}
.regButton{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #ffffff;
    background-color: #121417;
}

.loginIcon{
    width: 20px;
    height: 20px;
    color: #F4C555
}
.authButtons{
    display: flex;
    align-items: center;
    gap: 16px;
}
.logo{
    width: 28px;
    height: 28px;
    background:  linear-gradient(to bottom, #0057b7 50%, #ffd700 50%);
    color: transparent;
    display: inline-block;
    line-height: 1;
    border-radius: 50%
}

.userMenu{
    display: flex;
    align-items: center;
    gap: 12px;
}
