.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding:20px 64px 20px 64px;
}

.title{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #121417;
}
.links{
    display: flex;
    gap: 28px;
    padding-left: 390px;
    padding-right: 268px;
}

.subtitle{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #121417;
}
.logButton{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #121417;
    background-color: #fff;
}
.regButton{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #ffffff;
    background-color: #121417;
}