.stat{
    display: flex;
    border: 1.50px dashed #f4c550;
    border-radius: 30px;
    width: 100%;
    height: 116px;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0 123px;
}
.statTitleContainer{
    display: flex;
    align-items: center;
    gap: 16px;
}
.statTitle{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 28px;
    line-height: 114%;
    letter-spacing: -0.02em;
    color: #121417;    
}
.statSubtitle{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: rgba(18, 20, 23, 0.7);
    width: 96px;
    height: 36px;
}